@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.link {
  text-decoration: none !important;
  @include transition(color);

  &_light {
    color: $red-light;

    &:hover {
      color: $text-primary-light;
    }
  }

  &_dark {
    color: $red-dark;

    &:hover {
      color: $text-primary-dark;
    }
  }
}
