@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.button {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    outline: 0;
    border: 2px solid transparent;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    @include font-base;

    &_light {
        color: $primary-light;
        border-color: $primary-light;
        background: $background-light;

        &:hover {
            color: $background-light;
            background: $primary-light;
        }

        &:active {
            color: $primary-light;
            border-color: $primary-light;
            background: $background-light;
        }
    }

    &_dark {
        color: $primary-dark;
        border-color: $primary-dark;
        background: $background-dark;

        &:hover {
            color: $background-dark;
            background: $primary-dark;
        }

        &:active {
            color: $primary-dark;
            border-color: $primary-dark;
            background: $background-dark;
        }
    }

    &_loading {
        &_light,
        &_light:hover,
        &_light:active {
            cursor: not-allowed;
            color: $primary-light;
            border-color: $primary-light;
            background: $background-light;
        }

        &_dark,
        &_dark:hover,
        &_dark:active {
            cursor: not-allowed;
            color: $primary-dark;
            border-color: $primary-dark;
            background: $background-dark;
        }
    }
}
