@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: $header-height;
  box-sizing: border-box;
}

.content {
  width: 100%;
  flex: 1;
}

@include tablet {
  .content {
    padding-left: $side-menu-width;
    box-sizing: border-box;
  }
}
