@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.label {
    @include font-lg;

    &_light {
        color: $text-primary-light;
    }

    &_dark {
        color: $text-primary-dark;
    }
}

.asterisk {
    &_light {
        color: $red-light;
    }

    &_dark {
        color: $red-dark;
    }
}

.sliderContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.slider {
    &_light {
        .bar {
            background: $background-light-secondary !important;

            * {
                background: $red-light;
            }
        }

        .handle::before {
            background: $background-light-secondary;
            border-color: $red-light;
        }
    }

    &_dark {
        .bar {
            background: $background-dark-secondary !important;

            * {
                background: $red-dark;
            }
        }

        .handle::before {
            background: $background-dark-secondary;
            border-color: $red-dark;
        }
    }
}

.inputs {
    input {
        height: 30px;
    }
}

.errorMessage {
    display: inline-block;
    height: 21px;
    @include font-sm;

    &_light {
        color: $red-light;
    }

    &_dark {
        color: $red-dark;
    }
}
