@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.label {
    @include font-lg;
    @include transition(color);

    &_light {
        color: $text-primary-light;
    }

    &_dark {
        color: $text-primary-dark;
    }
}

.emptyMessage {
    @include transition(color);
}
