// COLORS LIGHT
$primary-light: #2b2b2b;
$red-light: #ff5757;
$green-light: #4caf50;
$background-light: #e4e2dd;

// COLORS DARK
$primary-dark: #e4e2dd;
$red-dark: #ff5757;
$green-dark: #4caf50;
$background-dark: #2b2b2b;

// BREAK POINTS
$mobile-sm-width: 320px;
$mobile-base-width: 375px;
$mobile-md-width: 576px;
$mobile-lg-width: 768px;
$tablet-width: 992px;
$laptop-width: 1200px;
$desktop-width: 1920px;
