@import "../../../styles/mixins.scss";

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 280px;
}

@include mobile-base {
    .logo {
        width: unset;
        max-width: $mobile-base-width;
    }
}
