@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
  width: $side-menu-width;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  z-index: 1;
  left: -$side-menu-width;
  @include transition(left);

  &_visible {
    left: 0;
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px 0;
  box-sizing: border-box;
  position: relative;
  z-index: 3;

  &_light {
    background: $background-light-secondary;
  }

  &_dark {
    background: $background-dark-secondary;
  }
}

.logo {
  cursor: pointer;
}

.profileAvatarContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: sticky;
  top: 0;
  padding: 20px 0;
  box-sizing: border-box;

  &_light {
    background: $background-light-secondary;
  }

  &_dark {
    background: $background-dark-secondary;
  }
}

.greeting {
  font-weight: 600;
  @include transition(font-size);
}

.backdrop {
  width: 100vw;
  height: calc(100vh - $header-height);
  position: fixed;
  top: $header-height;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  background-color: transparent;
  backdrop-filter: blur(2px);
  @include transition(background-color);

  &_visible {
    pointer-events: all;

    &_light {
      background-color: rgba($color: $background-dark, $alpha: 0.5);
    }

    &_dark {
      background-color: rgba($color: $background-light, $alpha: 0.5);
    }
  }
}

@include tablet {
  .container {
    top: 0;
    left: 0;
  }

  .logo {
    display: block;
  }

  .greeting {
    @include font-lg;
  }

  .backdrop {
    display: none;
  }
}
