@import "../../../styles/variables.scss";

.container {
  width: $side-menu-width;
  height: 100vh;
  position: fixed;
  top: $header-height;
  left: -$side-menu-width;
  transition: all 0.3s ease-in-out;

  &_light {
    background: $background-light-secondary;
  }

  &_dark {
    background: $background-dark-secondary;
  }

  &_visible {
    left: 0;
  }
}
