@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  @include font-lg;

  &_light {
    color: $text-primary-light;
  }

  &_dark {
    color: $text-primary-dark;
  }
}

.asterisk {
  &_light {
    color: $red-light;
  }

  &_dark {
    color: $red-dark;
  }
}

.fieldsContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.field {
  width: 100%;
  height: 50px;
  padding: 0 14px;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  border-radius: 0;
  @include transition(border, color);
  @include font-base;

  &_light {
    color: $text-primary-light;
    background: $background-light;
    border: 2px solid $text-primary-light;

    &::placeholder {
      color: rgba($color: $text-primary-light, $alpha: 0.6);
    }

    &:read-only {
      background: rgba($color: $text-primary-light, $alpha: 0.2);
      cursor: not-allowed;
    }
  }

  &_dark {
    color: $text-primary-dark;
    background: $background-dark;
    border: 2px solid $text-primary-dark;

    &::placeholder {
      color: rgba($color: $text-primary-dark, $alpha: 0.6);
    }

    &:read-only {
      background: rgba($color: $text-primary-dark, $alpha: 0.2);
      cursor: not-allowed;
    }
  }

  &_error {
    &_light {
      color: $red-light;
      border: 2px solid $red-light;
    }

    &_dark {
      color: $red-dark;
      border: 2px solid $red-dark;
    }
  }
}

.addon {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  @include transition(border, color);
  @include font-base;

  &_light {
    color: $text-primary-light;
    background: $background-light-secondary;
    border-top: 2px solid $text-primary-light;
    border-bottom: 2px solid $text-primary-light;
  }

  &_dark {
    color: $text-primary-dark;
    background: $background-dark-secondary;
    border-top: 2px solid $text-primary-dark;
    border-bottom: 2px solid $text-primary-dark;
  }
}

.errorMessage {
  display: inline-block;
  height: 21px;
  @include font-sm;

  &_light {
    color: $red-light;
  }

  &_dark {
    color: $red-dark;
  }
}
