@import "../../../../../styles/mixins.scss";

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.inputs {
    width: 100%;
    display: grid;
    gap: 10px;
}

.buttonsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.button {
    width: 100%;
}

.doubleRows {
    display: grid;
    gap: 10px;
}

@include mobile-md {
    .buttonsContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .button {
        flex: 1;
    }
}

@include laptop {
    .buttonsContainer {
        justify-content: flex-end;
    }

    .button {
        width: 240px;
        flex: unset;
    }
}

@include desktop {
    .doubleRows {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
