@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.label {
  width: min-content;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  white-space: nowrap;
  @include transition(color);

  svg {
    path {
      @include transition(fill);
    }
  }

  &_error {
    &_light {
      color: $red-light;

      svg {
        path {
          fill: $red-light;
        }
      }
    }

    &_dark {
      color: $red-dark;

      svg {
        path {
          fill: $red-dark;
        }
      }
    }
  }
}
