@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  max-width: $mobile-base-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 0 40px;
  box-sizing: border-box;
  @include transition(padding);
}

.logo {
  width: 80%;
}

@include mobile-md {
  .content {
    padding: 0;
  }
}
