@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  @include font-lg;
  @include transition(color);

  &_light {
    color: $text-primary-light;
  }

  &_dark {
    color: $text-primary-dark;
  }
}

.asterisk {
  &_light {
    color: $red-light;
  }

  &_dark {
    color: $red-dark;
  }
}

.fieldContainer {
  width: 100%;
  position: relative;
}

.field {
  width: 100%;
  height: 50px;
  padding: 0 14px;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  border-radius: 0;
  @include font-base;
  @include transition(border, color, background-color);

  &_with_icon {
    padding-right: 48px;
  }

  &_light {
    color: $text-primary-light;
    background-color: $background-light;
    border: 2px solid $text-primary-light;

    &::placeholder {
      @include transition(color);
      color: rgba($color: $text-primary-light, $alpha: 0.6);
    }

    &:read-only {
      background-color: rgba($color: $text-primary-light, $alpha: 0.2);
      cursor: not-allowed;
    }
  }

  &_dark {
    color: $text-primary-dark;
    background-color: $background-dark;
    border: 2px solid $text-primary-dark;

    &::placeholder {
      @include transition(color);
      color: rgba($color: $text-primary-dark, $alpha: 0.6);
    }

    &:read-only {
      background-color: rgba($color: $text-primary-dark, $alpha: 0.2);
      cursor: not-allowed;
    }
  }

  &_error {
    &_light {
      color: $red-light;
      border: 2px solid $red-light;
    }

    &_dark {
      color: $red-dark;
      border: 2px solid $red-dark;
    }
  }
}

.icon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
}

.errorMessage {
  display: inline-block;
  height: 21px;
  @include font-sm;

  &_light {
    color: $red-light;
  }

  &_dark {
    color: $red-dark;
  }
}
