@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
    width: 76px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    @include transition(width, height);

    svg {
        width: 50%;
        height: 50%;
    }

    &_light {
        background: $text-primary-light;

        svg {
            path {
                fill: $text-primary-dark;
            }
        }
    }

    &_dark {
        background: $text-primary-dark;

        svg {
            path {
                fill: $text-primary-light;
            }
        }
    }
}

@include tablet {
    .container {
        width: 90px;
        height: 90px;
    }
}
