@import "../../../../../../styles/variables.scss";
@import "../../../../../../styles/mixins.scss";

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;

    &_light {
        border: 2px solid $background-dark;
    }

    &_dark {
        border: 2px solid $background-light;
    }
}

.job {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.jobHeader {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px 0;
    box-sizing: border-box;
}

.left {
    display: flex;
    gap: 10px;
}

.companyImage {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &_light {
        background: $background-dark;

        svg path {
            fill: $background-light;
        }
    }

    &_dark {
        background: $background-light;

        svg path {
            fill: $background-dark;
        }
    }
}

.titleContainer {
    display: flex;
    flex-direction: column;
}

.jobTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    @include font-base;
}

.companyName {
    @include font-sm;
}

.jobBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px 20px;
    box-sizing: border-box;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 0 12px;
    box-sizing: border-box;

    &_light {
        color: $text-primary-dark;
        background: $background-dark;
        border: 2px solid $background-dark;

        svg path {
            fill: $text-primary-dark;
        }
    }

    &_dark {
        color: $text-primary-light;
        background: $background-light;
        border: 2px solid $background-light;

        svg path {
            fill: $text-primary-light;
        }
    }
}

.tagIcon {
    width: 16px;
}

.tagTitle {
    font-weight: 400;
    @include font-sm;
}

.jobFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;

    &_light {
        color: $text-primary-dark;
        background: $background-dark;
        border: 2px solid $background-dark;

        svg path {
            fill: $text-primary-dark;
        }
    }

    &_dark {
        color: $text-primary-light;
        background: $background-light;
        border: 2px solid $background-light;

        svg path {
            fill: $text-primary-light;
        }
    }
}

.salary {
    white-space: nowrap;
    font-weight: 700;
    @include font-xl;
}

@include mobile-lg {
    .jobHeader {
        flex-direction: row;
        justify-content: space-between;
    }

    .companyImage {
        margin-top: 6px;
    }

    .jobTitle {
        @include font-lg;
    }

    .companyName {
        @include font-base;
    }

    .jobFooter {
        flex-direction: row;
        align-items: center;
    }

    .salary {
        font-weight: 700;
        @include font-2xl;
    }
}
